.history-container {
  display: flex;
  align-items: center;
}

.color-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.time-answer {
  margin: 8px;
}

.time {
  font-size: 14px;
  font-weight: 500;
}