* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  color: #0f1419;
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

.layout-container {
  overflow: hidden;
  height: 100vh;
}

.layout {
  display: flex;
  margin: 0 auto;
  height: 100%;
}

.latest-game {
  background-color: #f1f1f1;
  width: 250px;
  overflow: auto;
}

.content {
  flex: 1;
  height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px 30px;
  justify-content: end;
}

footer button {
  border: 0;
  outline: 0;
  font-size: 16px;
  font-weight: 600;
  color: #5E6B79;
  background-color: transparent;
}

h2 {
  font-size: 18px;
  text-align: center;
  color: #48525D;
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  padding: 12px;
  font-size: 10px;
  color: #48525D;
  text-align: left;
  border: 2px solid #DBDFE6;
}

table th:first-child {
  border-left: 2px;
  padding-left: 16px;
}

table th:last-child {
  border-right: 2px;
  padding-right: 16px;
}